.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h3.cafe-name {
  margin-top: 25px !important;
  margin-bottom: 50px !important;
}

div.column {
  padding: 50px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0 !important;
}

div.total {
  font-weight: 600;
  border-bottom: 3px solid #000;
  border-top: 3px double #000;
}

div.order {
  max-width:600px;
}

div.payment {
  max-width:600px;
  margin-top:50px;
}

button.pay-button {
  margin-top: 25px;
}

figure.media-left {
  margin-left: 0 !important;
}

span.remove-item {
  cursor: pointer;
}

img.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div.main {
  max-width: 800px;
}

div.processing-payment {
  margin-top: 100px;
}

div.receipt {
  margin-top: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}